### Задание 1
Определите, какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [47]:
mf = pd.read_csv('ml-25m/ratings.csv')
mf[mf.rating == 5.0]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [49]:
pf = pd.read_csv('power.csv')

power_baltic =  pf[
    (pf.country.isin(['Latvia', 'Lithuania', 'Estonia'])) &  
    (pf.category.isin([4,12, 21])) &
    (pf.year >= 2005) &
    (pf.year <= 2010) &
    (pf.quantity > 0)
]

power_sum = sum(power_baltic.quantity)

print(f"Суммарное потребление стран Прибалтики: {power_sum:,.2f}".replace(',', ' '))

Суммарное потребление стран Прибалтики: 240 580.00

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.  
https://fortrader.org/quotes

In [50]:

pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  59.93       0.00          0.00        NaN
1       USDRUB Курс рубля к доллару  60.84      -0.42         -0.68        NaN